@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #05142e;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
}

body {
    
    color: #fff;
    font-family: "Poppins";
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #9383f0;

}

.msg-container {
    margin-top: 4rem;
}

#msg {
    background-color: #40679E;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1.2rem;
    border-radius: 1rem;
}

.images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 269px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 69px;


}

#img1 {
    background-color: #d1efd2;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
}

#img2 {
    background-color: #f1d1d1;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;

}

.computer img,
.player img {
    width: 75%;
}

.shakeComputer {
    animation: shakeComputer 0.8s linear;
}

.shakePlayer {
    animation: shakePlayer 0.8s linear;
}

.points {


    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 1rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 6rem;
    color: #1d0a0a;

}

#compy {
    height: 180px;
    width: 250px;
    display: flex;
    justify-content: center;
    
    gap: 1000px;

}

.playerPoints {
    margin-top: 2px;


}
pre{
    font-size: 4px;
}
#pla {
    margin-top: 35px;
    height: 150px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    height: 20px;
    width:20px;
  }  */
  /* .choice {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  } */
  .choicess {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin-top: 2.4rem;
} 
#stone, #paper,#scissors{
     
        height: 190px;
        width: 190px;
        object-fit: cover;
        border-radius: 50%;
        
   
        
}
.choicess:hover {
    cursor: pointer;
    background-color: #081b31;
  }
.options button {
    background: none;
    color: #161515;
    border: 2.5px solid #090909;
    padding: 1rem 2rem;
    
    font-size: 25px;
    cursor: pointer;
    background-color: #29d3ba;
    width: 290px;
    white-space: nowrap;
    border-radius: 50%;
    outline: none;
    transition: 0.2s all linear;
    font-size: 45px;


}

.options button:hover {
    background-color: rgb(47, 122, 122);
    border: 1px solid rgb(109, 71, 175);
}

@keyframes shakeComputer {
    0% {
        transform: rotate(-30deg);
    }

    25% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(-30deg);
    }

    75% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shakePlayer {
    0% {
        transform: rotate(30deg);
    }

    25% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
pre{
    font-size: 100px;
    color: #090909;
    margin-top: 174px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
@media only screen and (max-width: 768px) {
    @media only screen and (max-width: 767px) {
        h1{
            height: 2rem;
            line-height: 2rem;
            font-size: 20px;
        }
        :root {
          --font-size: 14px;
          --gap: 3rem;
          --margin-top: 1rem;
        }
      
        .images {
          height: 150px;
          margin-top: var(--margin-top);
        }
        .msg-container {
            margin-top: 2.5rem;
        }
        
        #msg {
            background-color: #40679E;
            color: #fff;
            font-size: 0.9rem;
            display: inline;
            padding: 1.2rem;
            border-radius: 1rem;
        }
        .images{
            gap:10px;
        }
      
        #img1,
        #img2 {
          height: 150px;
          width: 150px;
          margin-top: 2.5rem;
        }
      
        .computer img,
        .player img {
          width: 60%;
        }
      
        .points {
          font-size: 1.0rem;
          gap: 10px;

        }
      
        #user-score,
        #comp-score {
          font-size: 2.5rem;
        }
      
        #compy {
          height: 100px;
          width: 150px;
          display: flex;
          justify-content: center;
          gap: 10px;
          margin-top: 10px;
          
        }
      
        #pla {
          height: 80px;
          width: 60px;
          gap: 10px;
          margin-top:20px;
        }
      
        .options {
          gap: 10px;
          margin-top: var(--margin-top);
        }
        pre{
            font-size: 30px;
            margin-top: 105px;
        }
      
        #stone,
        #paper,
        #scissors {
          height: 100px;
          width: 100px;
          gap:10px;
        }
      
        .options button {
          padding: 0.8rem 1.5rem;
          font-size: 20px;
          width: 200px;
          font-size: 35px;
        }
      }

    }
